@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* 背景色 */
    --background: 0 0% 100%;
    /* フォアグラウンド色 */
    --foreground: 222.2 84% 4.9%;

    /* カードの背景色 */
    --card: 0 0% 100%;
    /* カードのフォアグラウンド色 */
    --card-foreground: 222.2 84% 4.9%;

    /* ポップオーバーの背景色 */
    --popover: 0 0% 100%;
    /* ポップオーバーのフォアグラウンド色 */
    --popover-foreground: 222.2 84% 4.9%;

    /* プライマリ色 */
    --primary: 222.2 47.4% 11.2%;
    /* プライマリのフォアグラウンド色 */
    --primary-foreground: 210 40% 98%;

    /* セカンダリ色 */
    --secondary: 210 40% 96.1%;
    /* セカンダリのフォアグラウンド色 */
    --secondary-foreground: 222.2 47.4% 11.2%;

    /* ミュート色 */
    --muted: 210 40% 96.1%;
    /* ミュートのフォアグラウンド色 */
    --muted-foreground: 215.4 16.3% 46.9%;

    /* アクセント色 */
    --accent: 210 40% 96.1%;
    /* アクセントのフォアグラウンド色 */
    --accent-foreground: 222.2 47.4% 11.2%;

    /* 破壊的な色 */
    --destructive: 0 84.2% 60.2%;
    /* 破壊的な色のフォアグラウンド色 */
    --destructive-foreground: 210 40% 98%;

    /* ボーダーの色 */
    --border: 214.3 31.8% 91.4%;
    /* 入力領域の色 */
    --input: 214.3 31.8% 91.4%;
    /* リングの色 */
    --ring: 222.2 84% 4.9%;

    /* 角丸の半径 */
    --radius: 0.5rem;
  }

  /* ダークモード時の設定 */
  .dark {
    /* 背景色 */
    --background: 222.2 84% 4.9%;
    /* フォアグラウンド色 */
    --foreground: 210 40% 98%;

    /* カードの背景色 */
    --card: 222.2 84% 4.9%;
    /* カードのフォアグラウンド色 */
    --card-foreground: 210 40% 98%;

    /* ポップオーバーの背景色 */
    --popover: 222.2 84% 4.9%;
    /* ポップオーバーのフォアグラウンド色 */
    --popover-foreground: 210 40% 98%;

    /* プライマリ色 */
    --primary: 210 40% 98%;
    /* プライマリのフォアグラウンド色 */
    --primary-foreground: 222.2 47.4% 11.2%;

    /* セカンダリ色 */
    --secondary: 217.2 32.6% 17.5%;
    /* セカンダリのフォアグラウンド色 */
    --secondary-foreground: 210 40% 98%;

    /* ミュート色 */
    --muted: 217.2 32.6% 17.5%;
    /* ミュートのフォアグラウンド色 */
    --muted-foreground: 215 20.2% 65.1%;

    /* アクセント色 */
    --accent: 217.2 32.6% 17.5%;
    /* アクセントのフォアグラウンド色 */
    --accent-foreground: 210 40% 98%;

    /* 破壊的な色 */
    --destructive: 0 62.8% 30.6%;
    /* 破壊的な色のフォアグラウンド色 */
    --destructive-foreground: 210 40% 98%;

    /* ボーダーの色 */
    --border: 217.2 32.6% 17.5%;
    /* 入力領域の色 */
    --input: 217.2 32.6% 17.5%;
    /* リングの色 */
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  /* すべての要素にボーダーを適用 */
  * {
    @apply border-border;
  }
  /* ボディ要素のスタイル */
  body {
    @apply bg-background text-foreground;
  }
}
